@model MoviesPilgrim.Models.LocacoesViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="../../css/Dashboard.css">



    @* <main class="main"> *@
        <div class="container-fluid section">
            <div class="row">
                
                <div class="col-12">
                    <div class="main__title">
                        <h2>Dashboard</h2>

                        <a href="add-item.html" class="main__title-link">ADICIONAR</a>
                    </div>
                </div>
          

           
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Filmes Cadastrados</span>
                        <p>0</p>
                       <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M224,216H183.36A103.95,103.95,0,1,0,128,232h96a8,8,0,0,0,0-16ZM40,128a88,88,0,1,1,88,88A88.1,88.1,0,0,1,40,128Zm88-24a24,24,0,1,0-24-24A24,24,0,0,0,128,104Zm0-32a8,8,0,1,1-8,8A8,8,0,0,1,128,72Zm24,104a24,24,0,1,0-24,24A24,24,0,0,0,152,176Zm-32,0a8,8,0,1,1,8,8A8,8,0,0,1,120,176Zm56-24a24,24,0,1,0-24-24A24,24,0,0,0,176,152Zm0-32a8,8,0,1,1-8,8A8,8,0,0,1,176,120ZM80,104a24,24,0,1,0,24,24A24,24,0,0,0,80,104Zm0,32a8,8,0,1,1,8-8A8,8,0,0,1,80,136Z"></path></svg>
                    </div>
                </div>
             

             
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Clientes Atendidos</span>
                        <p>0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path></svg>
                    </div>
                </div>
                

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Locações Feitas</span>
                        <p>0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>
                    </div>
                </div>
               

              
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Multas Acumuladas</span>
                        <p>0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M208,48H48A24,24,0,0,0,24,72V184a24,24,0,0,0,24,24H208a24,24,0,0,0,24-24V72A24,24,0,0,0,208,48ZM40,96H216v16H167.19a16,16,0,0,0-15.67,12.81,24,24,0,0,1-47,0A16,16,0,0,0,88.81,112H40Zm8-32H208a8,8,0,0,1,8,8v8H40V72A8,8,0,0,1,48,64ZM208,192H48a8,8,0,0,1-8-8V128H88.8a40,40,0,0,0,78.39,0H216v56A8,8,0,0,1,208,192Z"></path></svg>
                    </div>
                </div>
               

                <section id="conteudo">
                    
                    <div class="parte">
                        <div class="dashbox" id="laembaixo">
                            <div class="dashbox__title">
                                <h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M12,6a1,1,0,0,0-1,1V17a1,1,0,0,0,2,0V7A1,1,0,0,0,12,6ZM7,12a1,1,0,0,0-1,1v4a1,1,0,0,0,2,0V13A1,1,0,0,0,7,12Zm10-2a1,1,0,0,0-1,1v6a1,1,0,0,0,2,0V11A1,1,0,0,0,17,10Zm2-8H5A3,3,0,0,0,2,5V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2Zm1,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z">
                                        </path>
                                    </svg> Locações Atuais</h3>
                            </div>

                            <div class="dashbox__table-wrap dashbox__table-wrap--1" data-scrollbar="true" tabindex="-1"
                                style="overflow: hidden; outline: none;">
                                <div class="scroll-content">
                                    <table class="main__table main__table--dash">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>NOME CLIENTE</th>
                                                <th>LIMITE</th>
                                                <th>NOME FILME</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        
    @foreach (var locacao in Model.LocacoesAtuais){
        <tr>
                                                <td>
                                                    <div class="main__table-text">
                                                        <p>@locacao.IdLocacao</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="main__table-text">
                                                        <p>@locacao.NomeCliente</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="main__table-text">
                                                        <p>@locacao.DataLimite</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="main__table-text">
                                                       <p>@locacao.NomeFilme</p>
                                                    </div>
                                                </td>
                                            </tr>
    }
                    
                                        </tbody>
                                    </table>
                                </div>
                                <div class="scrollbar-track scrollbar-track-x show" style="display: none;">
                                    <div class="scrollbar-thumb scrollbar-thumb-x"
                                        style="width: 913px; transform: translate3d(0px, 0px, 0px);"></div>
                                </div>
                                <div class="scrollbar-track scrollbar-track-y show" style="display: none;">
                                    <div class="scrollbar-thumb scrollbar-thumb-y"
                                        style="height: 263px; transform: translate3d(0px, 0px, 0px);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  

                    <section class="parte">
                     
                        <div>
                            <div class="dashbox">
                                <div class="dashbox__title">
                                    <h3><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-50.34-74.34L139.31,152l18.35,18.34a8,8,0,0,1-11.32,11.32L128,163.31l-18.34,18.35a8,8,0,0,1-11.32-11.32L116.69,152,98.34,133.66a8,8,0,0,1,11.32-11.32L128,140.69l18.34-18.35a8,8,0,0,1,11.32,11.32Z"></path></svg> Locações Atrasadas</h3>
                                </div>

                                <div class="dashbox__table-wrap dashbox__table-wrap--2" data-scrollbar="true"
                                    tabindex="-1" style="overflow: hidden; outline: none;">
                                    <div class="scroll-content">
                                        <table class="main__table main__table--dash">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>NOME CLIENTE</th>
                                                    <th>LIMITE</th>
                                                    <th>NOME FILME</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                  @foreach (var locacao in Model.LocacoesAtrasadas){
                                                <tr>
                                                    <td>
                                                        <div class="main__table-text">
                                                            <p>@locacao.IdLocacao</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="main__table-text">
                                                            <p>@locacao.NomeCliente</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="main__table-text">
                                                            <p>@locacao.DataLimite</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="main__table-text">
                                                            <p>@locacao.NomeFilme</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="scrollbar-track scrollbar-track-x show" style="display: none;">
                                        <div class="scrollbar-thumb scrollbar-thumb-x"
                                            style="width: 913px; transform: translate3d(0px, 0px, 0px);"></div>
                                    </div>
                                    <div class="scrollbar-track scrollbar-track-y show" style="display: none;">
                                        <div class="scrollbar-thumb scrollbar-thumb-y"
                                            style="height: 263px; transform: translate3d(0px, 0px, 0px);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       

                        
                        <div class="">
                            <div class="dashbox">
                                <div class="dashbox__title">
                                    <h3><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M232,112a64.07,64.07,0,0,1-64,64H51.31l34.35,34.34a8,8,0,0,1-11.32,11.32l-48-48a8,8,0,0,1,0-11.32l48-48a8,8,0,0,1,11.32,11.32L51.31,160H168a48,48,0,0,0,0-96H80a8,8,0,0,1,0-16h88A64.07,64.07,0,0,1,232,112Z"></path></svg> Locações Devolvidas</h3>

                                    
                                </div>

                                <div class="dashbox__table-wrap dashbox__table-wrap--4" data-scrollbar="true"
                                    tabindex="-1" style="overflow: hidden; outline: none;">
                                    <div class="scroll-content">
                                        <table class="main__table main__table--dash">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>NOME CLIENTE</th>
                                                    <th>LIMITE</th>
                                                    <th>NOME FILME</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                 @foreach (var locacao in Model.LocacoesDevolvidas){
                                                    <tr>
                                                        <td>
                                                            <div class="main__table-text">
                                                                <p>@locacao.IdLocacao</p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="main__table-text">
                                                                <p>@locacao.NomeCliente</p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="main__table-text">
                                                                <p>@locacao.DataLimite</p>

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="main__table-text">
                                                                <p>@locacao.NomeFilme</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="scrollbar-track scrollbar-track-x show" style="display: none;">
                                        <div class="scrollbar-thumb scrollbar-thumb-x"
                                            style="width: 913px; transform: translate3d(0px, 0px, 0px);"></div>
                                    </div>
                                    <div class="scrollbar-track scrollbar-track-y show" style="display: none;">
                                        <div class="scrollbar-thumb scrollbar-thumb-y"
                                            style="height: 263px; transform: translate3d(0px, 0px, 0px);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </section>
                </section>
            </div>
        </div>
    @* </main> *@

