@model List<FilmeModel>

@{
    ViewData["Title"] = "Locacoes";
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="../../css/Locacoes.css">


<section>
    <div class="head_section">
        <h1>Filmes</h1>
        <a asp-controller="Filme" asp-action="Criar" class="add_locacao">
            Novo Filme
            <iconify-icon icon="fluent:add-16-regular"></iconify-icon>
        </a>
    </div>
    <div class="table_area">
        <table class="table_locacoes">
            <thead class="head_table">
                <th class="cell_head">
                    ID
                </th>
                <th class="cell_head">
                    TÍTULO
                </th>
                <th class="cell_head">
                    SINOPSE
                </th>
                <th class="cell_head">
                    QUANTIDADE
                </th>
                <th class="cell_head">
                    VALOR DO FILME
                </th>
                <th class="cell_head">
                    TAXA POR DIA
                </th>
                <th class="cell_head">
                    CLASSIFICAÇÃO
                </th>
                <th class="cell_head">
                    GÊNERO
                </th>
                <th class="cell_head">
                    AÇÕES
                </th>
            </thead>
            <tbody class="body_table">
                @foreach (var filme in Model)
                {
                    <tr class="row_table">
                        <td class="cell_table">
                            @filme.Id
                        </td>
                        <td class="cell_table">
                            @filme.titulo
                        </td>
                        <td class="cell_table">
                            @filme.sinopse
                        </td>
                        <td class="cell_table">
                            @filme.quantidade
                        </td>
                        <td class="cell_table">
                            @filme.valor_filme
                        </td>
                        <td class="cell_table">
                            @filme.taxa_dia
                        </td>
                        <td class="cell_table">
                            @filme.classificacao
                        </td>
                        <td class="cell_table">
                            @filme.genero
                        </td>
                        <td class="cell_table actions_cell">
                            <a class="view_action">
                                <iconify-icon icon="mdi:eye-outline"></iconify-icon>
                            </a>
                            <a class="edit_action">
                                <iconify-icon icon="mi:edit"></iconify-icon>
                            </a>
                            <a class="delete_action" asp-route-id="@filme.Id" asp-controller="Filme" asp-action="VerificarDeletar">
                                <iconify-icon icon="ant-design:delete-outlined"></iconify-icon>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>